<!--
  Generated template for the RukuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header id="camera-top">

  <ion-navbar>
    <ion-title>入库 : 选择备品型号</ion-title>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <!-- <ion-segment [(ngModel)]="input_mode" (ionChange)="mode_change($event)">
      <ion-segment-button value="recognize">
        拍照识别型号
      </ion-segment-button>
      <ion-segment-button value="input">
        手动输入型号
      </ion-segment-button>
    </ion-segment> -->
  </ion-toolbar>
</ion-header>


<ion-content padding>

  <div [ngSwitch]="input_mode" >
    <ion-list *ngSwitchCase="'recognize'">
      <div id="cam_placeholder" style="height:187px;"></div>
      <div text-center>
        <button ion-button round primary (click)="photo_tap()">拍照</button>
        <button ion-button round primary (click)="torch_tap()">灯光</button>
      </div>
      <ion-list *ngIf="ocr_result.length > 0">
        <ion-list-header>
          选择所需的识别行，并进行编辑
        </ion-list-header>
        <ion-item *ngFor="let item of ocr_result; let i = index">
          <ion-input type="text" [(ngModel)]="ocr_result[i]"></ion-input>
          <!-- <h2>{{ item[0].beijianext }}</h2> -->
          <button ion-button outline large item-end (click)="search_beijianext(i)">
            <ion-icon name="search"></ion-icon>
          </button>
        </ion-item>
      </ion-list>
      <!-- <ion-input type="text" [(ngModel)]="photo_quality"></ion-input> -->
      <!-- <img id="my-img" src=''></img> -->
    </ion-list>

    <ion-list *ngSwitchCase="'input'">
      <ion-item>
        <ion-label stacked>备件型号</ion-label>
        <ion-input type="text" [(ngModel)]="beijianext_input['manual']" clearInput
          (keyup)="input_change('manual', $event)" placeholder="输入型号 (可模糊搜索)">
        </ion-input>
        <button ion-button outline large item-end (click)="search_beijianext('manual')">
          <ion-icon name="search"></ion-icon>
        </button>
      </ion-item>
    </ion-list>
  </div>

  <ion-list *ngIf="find_result.length > 0">
    <ion-list-header>
      选择准确的备件型号
    </ion-list-header>
    <button ion-item *ngFor="let item of find_result; let i = index" (click)="next_step(i)">
      <h3>{{ item[0].beijian }}</h3>
      <h2>{{ item[0].beijianext }}</h2>
    </button>
  </ion-list>

</ion-content>
